# Node.js dependencies
node_modules/

# Build output directory
# dist/

# TypeScript cache files
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp

# MacOS specific files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ESLint cache
.eslintcache
